In [13]:
# ライブラリーの読み込み
import pandas as pd
import glob

# DataFrameの準備
df = pd.read_csv('./csv/20210825130338_data.csv')
df2 = pd.read_csv('./csv/20210818103823_data.csv')
df3 = pd.read_csv('./csv/20210814144716_data.csv')

In [11]:
# dfの各列の要素数の確認

df.nunique()

name       1
gakunen    1
temp       2
dtype: int64

In [3]:
df.head()

    name  gakunen   temp
0  小林佳奈美      3.0  38.0℃
1  小林佳奈美      3.0  38.0℃
2  小林佳奈美      3.0  38.0℃
3  小林佳奈美      3.0  38.0℃
4    NaN      NaN    NaN

In [4]:
df

    name  gakunen   temp
0  小林佳奈美      3.0  38.0℃
1  小林佳奈美      3.0  38.0℃
2  小林佳奈美      3.0  38.0℃
3  小林佳奈美      3.0  38.0℃
4    NaN      NaN    NaN
5    NaN      NaN    NaN
6  小林佳奈美      3.0  37.0℃
7  小林佳奈美      3.0  37.0℃
8    NaN      NaN    NaN
9    NaN      NaN    NaN

In [5]:
# dfに読み込んだデータの最後の5行を表示

df.tail()

    name  gakunen   temp
5    NaN      NaN    NaN
6  小林佳奈美      3.0  37.0℃
7  小林佳奈美      3.0  37.0℃
8    NaN      NaN    NaN
9    NaN      NaN    NaN

In [6]:
# dfのDataFrameサイズを確認

df.shape

(10, 3)

In [12]:
df2.shape

(6, 3)

In [14]:
df3.shape

(1, 3)

In [7]:
# ① dfの各列のデータ型を確認

print("各列のデータ型：\n", df.dtypes, "\n")

各列のデータ型：
 name        object
gakunen    float64
temp        object
dtype: object

In [9]:
# dfのレコード数(行数)を確認
len(df)

10

In [15]:
# dfのレコード数(行数)、各列のデータ型、欠損値の有無を確認

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   name     6 non-null      object
 1   gakunen  6 non-null      float64
 2   temp     6 non-null      object
dtypes: float64(1), object(2)
memory usage: 368.0+ bytes

In [16]:
# dfのnameの列の要素を確認

print(df["name"])

0    小林佳奈美
1    小林佳奈美
2    小林佳奈美
3    小林佳奈美
4      NaN
5      NaN
6    小林佳奈美
7    小林佳奈美
8      NaN
9      NaN
Name: name, dtype: object

In [17]:
# dfのnameとtempの列のみ表示

# df[] の中にリストを入れる
df[['name','temp']]

    name   temp
0  小林佳奈美  38.0℃
1  小林佳奈美  38.0℃
2  小林佳奈美  38.0℃
3  小林佳奈美  38.0℃
4    NaN    NaN
5    NaN    NaN
6  小林佳奈美  37.0℃
7  小林佳奈美  37.0℃
8    NaN    NaN
9    NaN    NaN

In [18]:
# dfのname,tempの列のみ抽出しdf_copyに格納
# その後outputフォルダにcsvファイルで出力
# 出力ファイル名はsmaple.csv

df_copy = df[['name','temp']]
df_copy.to_csv('./csv/sample.csv')

In [19]:
# きちんと保存できているか確認
df_copy2 = pd.read_csv('./csv/sample.csv')
df_copy2.head()

   Unnamed: 0   name   temp
0           0  小林佳奈美  38.0℃
1           1  小林佳奈美  38.0℃
2           2  小林佳奈美  38.0℃
3           3  小林佳奈美  38.0℃
4           4    NaN    NaN

In [20]:
# dfのすべての列の欠損値数を確認

df.isnull().sum()

name       4
gakunen    4
temp       4
dtype: int64

In [21]:
# 【48】
# dfでひとつでも欠損値がある行を削除
# その後、dfの欠損値数を確認

df = df.dropna()
df.isnull().sum()

name       0
gakunen    0
temp       0
dtype: int64

In [22]:
# 【66】
# dfのtemp列の平均値を確認

df['temp'].mean()

TypeError: Could not convert 38.0℃38.0℃38.0℃38.0℃37.0℃37.0℃ to numeric

In [ ]:
import pandas as pd
 
# CSVファイルの読み込み
data = pd.read_csv('20210825130338_data.csv')
 
# Excel形式で出力
data.to_excel('excel-data.xlsx', encoding='utf-8')